{% extends "layout.html" %}
{% block title %} {{super() }} - About Me {% endblock %}
  {% block header %}
    <header class="mb-auto">
      <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="{{ url_for('home') }}"> Cameron King </a>
        <a class="nav-link active" href="{{ url_for('about') }}">About</a>
        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
      </nav>
      </div>
    </header>
  {% endblock %}
{% block content %}
  <main class="px-3">
    <h1>About Me</h1>
    <p>Hello! I'm Cameron and my pronouns are <a href="https://pronoun.is/he/him">he/him</a>.

    <p>By day (and probably too frequently) night, I am a simulation engineer specializing in modeling low-level hardware for topological quantum computing.</p>
  </main>
{% endblock %}
