{% extends "layout.html" %}

  {%block header %}
    <header class="mb-auto">
      <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
      </div>
    </header>
  {% endblock %}
{% block content %}
  <main class="px-3">
    <h1>Cameron King</h1>
    <p class="lead">Simulation engineer, software developer, open-source enthusiast</p>
  </main>
{% endblock %}
